/*Selection*/
p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, a::selection, span::selection {
    background-color: #DFE3E8;
}
/*Selection*/

/*preloader*/
#preloader {
    background: url(../images/gif/96x96.gif) no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50000000;
    background-position: center center;
    background-color: #fff;
}

/*preloader*/
/*Header*/
header {
    width: 100%;
   /* background-color: #fff;*/
    z-index: 2;
    transition: all;
    transition-duration: 2s;
    position: fixed;
    background-color: transparent;
    top: 0;
    padding: 10px 0;
    left: 0;
}
#logo {
    color: #fff;
}
.sidenav-trigger i {
    color: #fff;
}
header.bg-scroll {
   background-color: #fff;
    padding: 0;
}
header > nav {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    box-sizing: border-box;
    /*padding: 20px 0;*/
    align-items: center;
    transition: all; 
    transition-duration: 1s;
}
.menu {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 600px;
    width: 100%;
}
.menu li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    transition: all;
    transition-duration: 0.5s;
}
#logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 23px;
    letter-spacing: 1px;
    transition: all;
    transition-duration: 0.5s;
}
.background-header {
    background-color: transparent;
    transition: all;
    transition-duration: 2s;
}
header > nav > a, .menu li a {
    text-decoration: none;
    color: #000;
}
.menu li a:hover {
    color: #E65F7E;
}
/*Header*/


/*Photo-section*/
.photo-wrapper {
    background: url(../images/photographer.jpg);
    height: 100vh;
    background-position: 40% 25%;
    position: relative;
}
.photo-include {
    background-color: rgba(0, 0, 0, 0.40);
    height: 650px;
}
.photo-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.photo-text {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.photo-text p {
    font-family: 'Nunito', sans-serif;
    max-width: 500px;
    margin: 0 auto;
    line-height: 24px;
    margin-bottom: 40px;
}
.photo-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 30px;
}
.photo-text h1 {
    font-size: 54px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.photo-text a {
    text-decoration: none;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border: 2px solid #fff;
    box-sizing: border-box;
    padding: 15px 32px;
    border-radius: 30px;
    text-transform: uppercase;
    align-items: center;
    margin-top: 30px;
    font-weight: 600;
    transition: all;
    transition-duration: 1s;
}
.photo-text a:hover {
    background-color: #fff;
    color: #000;
}
.animate {
    display: inline-block;
}
/*Photo-section*/


/*About*/
.about-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0  auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 100px 0;
    align-items: flex-start;
    box-sizing: border-box;
}
.photo-about {
    max-width: 45%;
    width: 100%;
}
.photo-about img {
    width: 100%;
}
.text-about {
    max-width: 45%;
    width: 100%;
    align-items: flex-start;
    color: #212529;
}
.text-about h2 > span {
    font-weight: bold;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}
.text-about h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 500;
}
.text-about h3 {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.text-about h3 span {
    color: #E65F78;
    font-weight: 550;
}
.text-about p {
    color: #6C757D;
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    margin-top: 24px;
    margin-bottom: 24px;
}
/*About*/

/*Services*/
.background {
    background-color: #F8F9FA;
}
.services-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 100px 0;
    
}
.services-title {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.services-title h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #212529;
    margin-bottom: 20px;
}
.services-title h4 span {
    font-weight: 600;
}
.services-title p {
    font-family: 'Nunito', sans-serif;
    color: #8C949A;
    font-size: 16px;
    line-height: 24px;
}
.services {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: 100px 0;
}
.services > article {
    text-align: center;
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 30px;
    align-items: center;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
}
.services > article i {
    font-size: 45px;
    color: #E65F78;
}
.services > article h4 {
    font-weight: 600;
    color: #212529;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    margin-top: 24px;
}
.services > article p {
    font-family: 'Nunito', sans-serif;
    color: #8C949A;
    font-size: 16px;
}
.line {
    width: 40px;
    height: 2px;
    background-color: #E65F78;
    margin: 24px auto;
    transition: all 0.5s;
}
.services > article:hover .line {
    width: 60px;
}
.service-include {
    padding: 40px 12px;
}
/*Services*/

/*Reviews*/
.reviews-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    align-items: center;
}
.reviews-title {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.reviews-title h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #212529;
    font-weight: 500;
    margin-bottom: 24px;
}
.reviews-title h5 > span {
    font-weight: 600;
}
.reviews-title p {
    color: #6C757D;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.reviews-wrapper article img {
    width: 100px !important ;
    height: 100px !important;
    border-radius: 50%;
    background-color: #fff;
    border: 5px double #dee2e6;
    margin-bottom: 30px;
}
.reviews-wrapper article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.reviews-wrapper article i:first-child {
    font-size: 40px;
    color: #E66079;
    margin-bottom: 30px;
}
.reviews-wrapper article i:last-child {
    font-size: 40px;
    color: #E66079;
    margin-top: 30px;
}
.reviews-wrapper article p:first-of-type {
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    color: #6C757D;
    font-style: italic;
    line-height: 30px;
}
.reviews-wrapper article p:last-of-type {
    font-family: 'Nunito', sans-serif;
    color: #212522;
    font-size: 16px;
    margin-top: 30px;
}
.owl-nav.disabled {
    max-width: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
    align-items:center;
}
.owl-nav.disabled span {
    font-size: 60px;
    color: #E66079;
}
/*Reviews*/

/*Works*/
.buttons-wrapper .active {
    color: #fff;
    background-color: #e97288;
}
.works-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
}
.works-title {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.works-title h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #212529;
    font-weight: 500;
    margin-bottom: 24px;
}
.works-title p {
    color: #6C757D;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.works-title h5 > span {
    font-weight: 600;
}

#works {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.grid .grid-item {
    width: 33.333333%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    padding: 10px;
    /*margin-bottom: 24px;*/
}

.grid-item img {
    border-radius: 10px;
    display: block;
    width: 100%;
}
.buttons-wrapper {
    max-width: 600px;
    text-align: center;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.buttons-wrapper button {
    border: none;
    outline: none !important;
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    transition: all;
    transition-duration: 1s;
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
}
.buttons-wrapper button:active {
    color: #fff;
    background-color: #e97288;
}
.buttons-wrapper button:focus {
    color: #fff;
    background-color: #e97288;
}
.buttons-wrapper button:hover {
    color: #fff;
    background-color: #e97288;
}
.table-of-contents a.active {
    color: #e97288 !important;
    border: none;
}
.table-of-contents a {
    transition-duration: 1s;
    transition: all;
}
/*Works*/

/*Contacts*/
.contacts-wrapper {
    padding: 100px 0;
    width: 100%;
}
.contacts-title {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.contacts-title h6 {
    font-family: 'Monteserrat', sans-serif;
    font-size: 32px;
    color: #212529;
    margin-bottom: 24px;
}
.contacts-title h6 span {
    font-weight: 550;
}
.contacts-title p {
    font-family: 'Nunito', sans-serif;
    color: #8C949A;
    font-size: 16px;
    line-height: 24px;
}
.contacts-icons {
    margin: 40px 0;
}
.contacts-icons i {
    font-size: 45px;
    margin-bottom: 24px;
    color: #e66496;
}
.contacts-icons p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.contacts-icons a {
    text-decoration: none;
    color: #8C949A;
    font-size: 16px;
}
.contacts-wrapper .float-input:first-child {
    width: 49%;
    float: left;
    margin-bottom: 24px;
} 
.float-input-right {
    width: 49%;
}
.float-input-right:nth-child(2n){
    float: right;
    margin-bottom: 24px;
}
.contacts-wrapper form input[type="text"] {
    padding: 15px 10px;
    width: 100%;
    box-sizing: border-box;
}
.contacts-wrapper input:not(.submit) {
    width: 100%;
    outline: none;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    transition: all;
    transition-duration: 0.5s;
    font-family: 'Monteserrat', sans-serif;
    color: #6c757d;
}
.contacts-wrapper input::placeholder {
    color: #6c757d;
}
.contacts-wrapper input:focus {
    border-color: #e65f78;
}
.contacts-wrapper form input[type="email"] {
    padding: 15px 10px;
    margin-bottom: 24px;
}
.contacts-wrapper form > textarea {
    height: 120px;
    width: 100%;
    outline: none;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    transition: all;
    transition-duration: 0.5s;
}
.contacts-wrapper form > textarea {
    padding: 15px 10px;
    transition: all;
    transition-duration: 0.5s;
    resize: vertical;
    font-family: 'Monteserrat', sans-serif;
    color: #6c757d;
    margin-top: 24px;
}
form label.error {
    display: block;
    margin-top: 24px;
    font-size: 16px;
    font-family: 'Monteserrat', sans-serif;
    font-weight: bold;
    color: #e97288;
}
.contacts-wrapper form > textarea::placeholder {
    color: #6c757d;
}
.contacts-wrapper form > textarea:focus {
    border-color: #e65f78;
}
.contacts-wrapper form > input[type="submit"] {
    float: right;
    margin-top: 24px;
    padding: 18px 32px;
    border: none;
    outline: none;
    background-color: #e65f78;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 550;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
    border: 2px solid transparent;
}
.contacts-wrapper form > input[type="submit"]:hover {
    background-color: #fff;
    color: #e65f78;
    border: 2px solid #e65f78;
}
.contacts-wrapper form {
    margin-bottom: 100px;
}
/*Contacts*/

/*footer*/
footer {
    background-color: #242424;
    font-family: 'Nunito', sans-serif;
}
.footer-wrapper {
    padding: 50px 0;
    color: #6c757d;
}
.footer-wrapper p {
    margin: 10px 0;
}
/*footer*/

/*top*/
.top-wrapper {
    width: 40px !important;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #e65f78;
    border-radius: 5px;
    position: fixed;
    z-index: 11;
    bottom: 50px;
    right: 50px;
    align-items: center;
    text-align: center;
    display: none;
    transition: all;
    transition-duration: 1s;
}
.top-wrapper > a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
/*top*/

/*media*/
@media all and (max-width: 1200px) {
    .photo-text h1 {
        font-size: 40px;
    }
}
@media all and (max-width: 1100px) {
    .services-wrapper article {
        width: 40%;
    }
    .photo-text {
        max-width: 600px;
    }
}
@media all and (max-width: 990px) {
    .about-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .photo-wrapper {
        background-position: 60% 30%;
    }
    .photo-about {
        max-width: 90%;
        margin-bottom: 24PX;
    }
    .text-about {
       max-width: 90%;
    }
}
@media all and (max-width: 900px) {
    .photo-text h1 {
        font-size: 35px;
        width: 100%;
    }
    .photo-text {
        width: 600px;
    }
    .grid .grid-item {
        width: 50%;
    }
    .float-input, .float-input-right {
        width: 100% !important;
    }
}
@media all and (max-width: 768px) {
    .services-wrapper article {
        width: 90%;
    }
    .photo-text h1 {
        font-size: 30px;
    }
}
@media all and (max-width: 670px) {
    .grid .grid-item {
        width: 100%;
    }
}
@media all and (max-width: 640px) {
    .photo-text {
        width: 350px;
    }
}
@media all and (max-width: 600px) {
    .contacts-icons article {
        margin-bottom: 24px;
    }
}
@media all and (max-width: 470px) {
    .buttons-wrapper {
        display: flex;
        flex-direction: column;
    }
    .buttons-wrapper button:focus {
        background: none;
        color: #000 !important;
    }
    .active {
        background: none !important;
        color: #000 !important;
    }
    .buttons-wrapper button {
        font-size: 20px;
    }
    .photo-text {
        width: 300px;

    }
    .photo-text h1 {
        font-size: 25px;
    }
}
@media all and (max-width: 375px) {
    .reviews-wrapper article p:first-of-type {
        font-size: 16px;
    }
}
/*media*/